<!-- <nz-layout style="height: 100%">
  <nz-header>Header</nz-header>
  <nz-content>
    <div nz-row>
      <div nz-col [nzSpan]="16" [nzOffset]="4">
        <form nz-form [nzType]="'horizontal'">
          <div nz-form-item nz-row>
            <div nz-form-control [nzValidateStatus]="searchStatus" nzHasFeedback>
              <nz-input name="keyword" [(ngModel)]="keyword" [nzSize]="'large'" [nzPlaceHolder]="'Basic usage'" (keyup.enter)="getBlurSearchResult()"></nz-input>
              <div nz-row [nzGutter]="8">
                  <div *ngFor="let r of results" nz-col [nzSpan]="24">
              <nz-card nzLoading="false">
                  <ng-template #title>
                      {{r.title}}
                  </ng-template>
                  <ng-template #extra>
                    <a>More</a>
                  </ng-template>
                  <ng-template #body>
                    <p>{{r.snippet}}</p>
                  </ng-template>
                </nz-card>
                </div>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout> -->
<div class="layout">
  <div class="container">
    <h1 class='title-main'>Let us cook your Novel.</h1>
    <div class="search-bar-container">
      <input type="text" class="search-bar" name="keyword" [(ngModel)]="keyword" placeholder="搜索" (keyup.enter)="getBlurSearchResult()">
      <i *ngIf="!searching; else loadingIcon" class="fas fa-search search-icon"></i>
      <ng-template #loadingIcon>
        <i class="fas fa-spinner fa-spin search-icon"></i>
      </ng-template>
    </div>
    <div *ngIf="!sourceSelected; else selected;" class="search-result">
      <div *ngFor="let r of results">
        <div class="card">
          <div class="card-header" (click)="selectSource(r)">
            <div class="card-title" #title>
              {{r.title}}
            </div>
            <!-- <div class="card-extra" #extra>
              <a [href]="r.link" target="_blank">
                <i class="fas fa-external-link-square-alt search-icon"></i>
              </a>
            </div> -->
          </div>
          <div class="card-body" (click)="selectSource(r)" #body>
            {{r.snippet}}
          </div>
          <div class="card-footer" #footer>
            <a class="card-tag" [href]="r.link" target="_blank">
              {{r.displayLink}}
              <i class="fas fa-external-link-square-alt"></i>
            </a>
            <a class="send button card-tag" [href]="r.link" target="_blank">
                <i class="fas fa-download"></i>
              </a>
          </div>
        </div>
      </div>
    </div>

    <ng-template #selected>
      <div class="card" (click)="selectSource(r)">
        <div class="card-header">
          <div class="card-title" #title>
            {{source.title}}
          </div>
          <!-- <div class="card-extra" #extra>
            <a [href]="source.link" target="_blank">
              <i class="fas fa-external-link-square-alt search-icon"></i>
            </a>
          </div> -->
        </div>
        <div class="card-body" #body>
          {{source.snippet}}
        </div>
        <div class="card-footer" #footer>
          <a class="card-tag" [href]="source.link" target="_blank">
            {{source.displayLink}}
            <i class="fas fa-external-link-square-alt"></i>
          </a>
        </div>
      </div>
      <div class="card send button" (click)="unselectSource()">
        <i class="fas fa-download"></i> 下载
      </div>
      <div class="card back button" (click)="unselectSource()">
        <i class="fas fa-chevron-left"></i> 返回
      </div>

    </ng-template>

  </div>
</div>
